@media (max-width:768px){

.form-page {
    padding: 10px 5px;
}

.form-page .card {
    padding: 15px 8px;
}

.tag-group {
    transform: translateX(-255px);
    padding: 10px 0 0;
}

.form-page.company-page .field {
    grid-template-columns: 110px 1fr;
}

.form-page.company-page .card {
    column-gap: 8px;
    padding: 10px;
}
}

