@media (max-width:768px){

    #btn-load{
        display:none;
    }

    #filter-kho .dropdown-select.stock-filter{
        min-width: 100px;
        padding: 0 0 0 6px;
    }

    #matrix-filters{
        padding: 8px 0 0;
        width: 280px;
    }

    .toolbar-filter,
    .toolbar-actions{
        gap:5px;
    }

    .toolbar-filter{
        margin-left: auto;
    }    

    .toolbar-export{
        gap:10px;
        justify-content: right;
    }    
}