.list-page{
  flex:1;
  min-height:0;
  height: auto;
  overflow:auto;
  margin: 0  0 10px 0;

  border-radius: 5px;
  background: #fff;
  border: 1px solid #e5e7eb;
}

.list-page table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:5px;
}

.list-page th{
position:sticky;
top:0px;
z-index:200;  
background:#fafafa;
}

.list-page th,
.list-page td{

font-size:16px;

border-bottom:1px solid #ddd;
padding:10px 10px;

white-space:nowrap;
text-align:left;

}

.list-page .row-menu{
position:relative;
display:inline-block;
}

.list-page input:not([type="checkbox"]):not([type="radio"]),
.list-page select{

  border:0 !important;
  outline:0 !important;

  background:transparent !important;

  box-shadow:none !important;

  appearance:none;
  -webkit-appearance:none;

  padding:0;
  font-size: 16px;
  color:#000;

}

.list-filter{
  display:flex;
  align-items:center;
  gap:10px;
  flex-wrap:wrap;
}

.list-actions{
  display:flex;
  gap:8px;
}

.table-select,
.table-input{

  font-size:16px;

  border:none !important;
  outline:none !important;
  background-color:transparent !important;
  box-shadow:none !important;

  padding:0;
  margin:0;

  width:auto;
  min-width:0;
}

.table-select:hover,
.table-select:focus,
.table-input:hover,
.table-input:focus{
  border:none !important;
  outline:none !important;
  box-shadow:none !important;
}

.input-name{
  border:none;
  outline:none;
  background:transparent;

  width:100%;
  padding:0;
  margin:0;

  font:inherit;
  color:inherit;
}

.input-name:focus{
  border:none;
  outline:none;
  box-shadow:none;
}

.list-page .input-name{
  color:#f97316;   /* cam */
}

.row-actions{
white-space:nowrap;
text-align:right;
}

.row-posted td{
  color:#16a34a;
}


.money-green{

  color:#16a34a;
  font-weight:600;

}

.money-red{

  color:#dc2626;
  font-weight:600;

}


tr.active-row{
background:#eff6ff;
}

.thumb{
  cursor:pointer;
}

.print-filter:not(.empty)
.dropdown-select-trigger
> span{
    font-size: 16px;
}