.bar{
  position:sticky;
  z-index:500;
  top:0;
  display:flex;
  justify-content:flex-end;

  background:#fff;
  border-radius:5px;

}

.toolbar{
  position:sticky;
  z-index:500;
  top:0;
  margin-bottom: 12px;
  display:flex;
  gap:8px;
  justify-content:flex-end;

  background:#fff;
  border: 1px solid #e5e7eb;
  border-radius:5px;

  padding:12px 24px 6px 24px ;
}

.toolbar-filter,
.toolbar-actions,
.toolbar-export,
.toolbar-catalog{
    display:flex;
    align-items:center;
    white-space: nowrap;
    gap:10px;
}

.toolbar-catalog{
  margin-right: auto;
}

.toolbar-action{

  border:none;
  background:transparent;
  box-shadow:none;
  outline:none;

  height:35px;
  padding:0 12px;

  display:flex;
  align-items:center;
  gap:6px;

  font-size:15px;
  font-weight:600;
  color:#6b7280;

  cursor:pointer;

}

.list-footer{

    display: flex;
    margin-right: auto;
    align-items: center;
    white-space: nowrap;
    padding: 0px;
    color: #6b7280;
    font-weight: 600;
    font-size: 14px;

}

.list-chip{

    background: #eef2ff;
    color: #1e40af;
    padding: 4px 10px;
    border-radius: 999px;
    font-weight: 700;

}

#btn-edit-many:hover{
  color:#3b82f6;
}

#btn-cancel:hover,
#btn-del:hover{
  color:#dc2626;
}

#btn-show-all:hover,
#btn-transfer:hover,
#btn-mode:hover{
  color:#15803d;
}

#btn-save-draft:hover,
#btn-save-check:hover,
#btn-save-transfer:hover,
#btn-save:hover{
  color:#fc9002;
}

#btn-show-all::before{
  content:"◎";
  color:#15803d;
  font-size:16px;
}

#btn-edit-many::before{
  content:"✎";
  color:#3b82f6;
  font-size:16px;
}

#btn-cancel::before,
#btn-del::before{
  content:"🗑";
  color:#dc2626;
  font-size:16px;
}

#btn-save-draft::before,
#btn-save-check::before,
#btn-save-transfer::before,
#btn-save::before{
  content:"💾";
  color:#f97316;
  font-size:15px;
}

