/* ===== SIDEBAR ===== */

#sidebar{
  position:relative;

  width:220px;
  height: auto;
  margin: 0;

  display:flex;
  flex-direction:column;

  background:#ffffff;
  color:#f1884e;
  box-sizing:border-box;

  transition:.25s ease;
  overflow:hidden;
}


#sidebar a{
display:block;
padding:5px 10px;
color:#f1884e;
border-radius:5px;
text-decoration:none;
margin: 10px;
}

#sidebar a:hover{
color: #fff; 
background: #f1884e;
font-weight:500;
}

#sidebar.collapsed{
width:50px;
padding:0;
}

#sidebar.collapsed a{
display:none;
}

#sidebar.collapsed .menu-title{
display:none;
}

#sidebar.collapsed .sidebar-logo-text{

  display:none;

}

#sidebar.collapsed .sidebar-logo{
font-size:14px;
text-align:center;
justify-content:center;
font-weight: 800;
padding: 0;
border:none;
}

.sidebar-logo{
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 20px;
    background: #f5610b;
}

.sidebar-logo-text{

  white-space:nowrap;
  transition:opacity .2s;
  margin-top: auto;
  padding: 5px 0;

}

.sidebar-logo-img {
    width: 31px;
    height: 31px;
    padding-top: 3px;
    object-fit: contain;
    transform: scale(1.3);
    flex: none;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.sidebar-logo-img.flip{

  animation:logoFlip 1s ease-in-out;

}

@keyframes logoFlip{

  0%{
    transform:scale(1.5) perspective(600px) rotateY(0deg);
  }

  50%{
    transform:scale(1.5) perspective(600px) rotateY(90deg);
  }

  100%{
    transform:scale(1.5) perspective(600px) rotateY(360deg);
  
  }

}

/* =========================
SIDEBAR PANEL MODE
========================= */

#sidebar-menu{
    flex:1;
    min-height:0;
    overflow-y:auto;
    overflow-x:hidden;
    background: #000000d1;
}

#sidebar-menu::-webkit-scrollbar{
  display:none;
}

/* panel form */
#sidebar-panel{
height:100%;
overflow:auto;
background:#ffffff;
color:#111827;
padding: 16px 0px 16px 2px;
box-sizing:border-box;
}

/* khi mở form */
#sidebar.panel-mode{
width:480px;
background:#ffffff;
}

/* ẩn menu khi panel mode */
#sidebar.panel-mode #sidebar-menu{
display:none;
}

/* hiện panel */
#sidebar.panel-mode #sidebar-panel{
display:block !important;
}

/* tiêu đề panel */
.sidebar-panel-title{
font-size:18px;
font-weight:700;
margin-bottom:14px;
}

/* nút quay lại */
.sidebar-back{
display:inline-block;
margin-bottom:12px;
cursor:pointer;
font-size:13px;
color:#1677ff;
}

#sidebar-panel .list-page.table-set_price_rule .card{
    border: none;
    display: flex;
}
/* ===== MENU GROUP ===== */

.menu-title{
display:flex;
justify-content:space-between;
align-items:center;
padding:5px 10px;
cursor:pointer;
border-radius: 5px;
margin: 10px;
}

.menu-title:hover{
  color: #fff; 
  background: #f1884e;
  font-weight:600;
}

.submenu{
display:none;
}

.submenu a {
  padding: 5px 20px !important;
}


.menu-group.open .submenu{
display:block;
}

.arrow{
font-size:13px;
transition:0.2s;
}

.menu-group.open .arrow{
transform:rotate(180deg);
}