/* ===== TABS ===== */

#tabs-bar{
  display:flex;
  align-items:flex-end;
  flex-wrap:nowrap;
  height:100%;
  gap:12px;
  scrollbar-width:none;
  margin-top: 0px;
  overflow: hidden;
  padding-right: 15px;
}

#tabs-bar::-webkit-scrollbar{
  display:none;
}

.tab{
  position:relative;

  height:25px;

  color:#000;
  font-size:11px;
  font-weight:500;

  display:flex;
  align-items:center;
  gap:6px;

  padding:0;

  border-radius:8px 8px 0 0;

  box-sizing:border-box;

  z-index:1;

  white-space:nowrap;

  transition:
    transform .18s ease,
    color .18s ease,
    text-shadow .18s ease,
    background .18s ease;

  opacity:.9;

  background: #e7e7e3;
  flex: 1 1 80px;
  min-width: 40px;
  max-width: 180px;
}

/* phần thân hình thang */

.tab::before,
.tab::after{
  content:"";

  position:absolute;
  top:0;

  width:20px;
  height:100%;

  background: #ececed45;

  z-index:-1;
}

.tab::before{
  left:-5px;

  transform:skewX(-10deg);

  border-top-left-radius:8px;
}

.tab::after{
  right:-10px;

  transform:skewX(18deg);

  border-top-right-radius:8px;
  border-right: 1px solid #0000005e;
}

.tab > *{
  position:relative;
  z-index:2;
  white-space: nowrap;
  overflow: hidden;
}

/* ===== ACTIVE ===== */

.tab.active{
  border-top: 1px solid #00000014;
  color:#0e2a68dc;
  height: 32px; 
  font-size:11px;
  font-weight:600;

  background:#fff;

  margin-bottom:-1px;

  transform:none;

  text-shadow:
    0 1px 0 rgba(255,255,255,.8);

  opacity:1;

  z-index:20;
}

.tab.active::before,
.tab.active::after{
  content:"";

  position:absolute;
  top:0;

  width:20px;
  height:100%;

  background:inherit;

  z-index:-1;
}

.tab.active::before{
  left:-5px;

  transform: skewX(354deg);

  border-top-left-radius:8px;
  border-left: 1px solid #0000004a;
}

.tab.active::after{
  right:-10px;

  transform:skewX(18deg);

  border-top-right-radius:8px;
}

#page-title{
  display:none;
}