.search-box{

  margin:auto;
  display:flex;
  align-items:center;
  width:320px;

}

.search-box input{
  width:100%;
  height:26px;

  padding:0 0px 0 12px;

  border:1px solid #000;
  border-radius:10px;
  background:#fff;
  flex:1;
  padding-right:20px;
}

.search-btn{

  margin-left:-17px;
  width:34px;
  height:34px;
  border-radius:50%;
  flex-shrink:0;
  border:1px solid #000;
  border-radius:50%;

  background:#2f2a2a;
  color:#fff;

  z-index:2;
}

.search-wrap{
  position:relative;
  width:540px;
  margin-right:18px;
      display:flex;
    align-items:center;
}

.search-group{
  display:flex;
  flex:1;
  align-items:center;

  height:26px;
  width:100%;

  border:1px solid #000;
  border-radius:10px;

  background:#fff;
  overflow:hidden;

  padding-right:8px;
}

.search-group input{
  flex:1;

  height:100%;

  border:none;
  outline:none;

  background:transparent;

  padding:0 0px 0 12px;

}

.search-group input::placeholder{
  color:#6b7280;
}

.search-group input:not(:last-child){
  border-right:none;
}

