body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#EFEEF1;
    touch-action: pan-y;
}
html,
body{
    height:100%;
    overflow:hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}
*{
    scrollbar-width:none;
    -ms-overflow-style:none;
}

*::-webkit-scrollbar{
    display:none;
}
[hidden]{
    display:none !important;
}
#login-overlay[hidden]{
    display:none !important;
}

#btn-auth{
    font-size: 0;
    
    position:relative;
    width:36px;
    height:36px;
    padding:0;

    border:#EFEEF1;
    background:transparent;
    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;
}

#btn-auth::before{
    content:"";
    font-size: 0;

    position:absolute;

    width:45px;
    height:45px;

    background:url("/images/login.webp") center/contain no-repeat;

    z-index:9999;
    pointer-events:none; /* nếu không muốn chặn click */
}

#btn-auth.logout::before{
    background-image:url("/images/logout.webp");
    transform: scaleX(-1);
}

#btn-auth:hover{
    opacity:.75;
    background:#f3f4f6;
    border-radius:999px;
    transform:scale(1.08);
}

#btn-auth:active{
    transform:translateY(-1px);
}