.stock-filter.open::before{
  left:13px;
  right:auto;
}


.stock-filter:not(.empty)
.dropdown-select-trigger{

  color:#f97316;
  font-size:14px;  
  font-weight:500;
}

.dropdown-filter-icon{
  width:16px;
  height:16px;
  flex:none;
}

.stock-filter .dropdown-select-trigger{

  display:flex;
  align-items:center;
  gap:8px;

  height:35px;

  font-size:14px;
  font-weight:500;
  color:#f97316;
}

#btn-load,
#btn-refresh{
  width:35px;
  height:35px;

  border:none;
  background-color:transparent;
  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;

  padding:0;
}

#btn-refresh img{
  width:28px;
  height:28px;
  display:block;
}

#btn-refresh.loading img{
  animation: spin .6s linear infinite;
  transform-origin: center center;
  display:block;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.count-input,
.transfer-qty{
  width:100px;
  text-align:left;
}

